.container {
  border: 1px solid #2c2c34;
  background-color: #c5b4e3;
}
.title {
  text-align: center;
}
.tag {
  text-align: center;
}
.footer {
  border: 0px solid #2c2c34;
}
.footertext {
  text-align: center;
}
